In [1]:
import pandas as pd

In [2]:
file = "../Data/Case-Schiller/alfredgraph.csv"
data = pd.read_csv(file)

In [3]:
data.head()

         DATE  SPCS20RSA_20190326  SPCS20RSA_20190430
0  2000-01-01    100.589696753376          100.589697
1  2000-02-01    101.692479313818          101.692479
2  2000-03-01    102.783828758838          102.783829
3  2000-04-01  103.99644417311701          103.996444
4  2000-05-01    105.252818321343          105.252818

In [4]:
data.rename(columns={'SPCS20RSA_20190430':'CS_Index'}, inplace=True)

In [16]:
df = data[['DATE','CS_Index']]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 2 columns):
DATE        230 non-null object
CS_Index    230 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.7+ KB

In [18]:
df['DATE'] = pd.to_datetime(df['DATE'])

/anaconda2/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
df['Year'] = df['DATE'].dt.year
df['Month'] = df['DATE'].dt.month

In [20]:
df.head()

        DATE    CS_Index  Year  Month
0 2000-01-01  100.589697  2000      1
1 2000-02-01  101.692479  2000      2
2 2000-03-01  102.783829  2000      3
3 2000-04-01  103.996444  2000      4
4 2000-05-01  105.252818  2000      5

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 4 columns):
DATE        230 non-null datetime64[ns]
CS_Index    230 non-null float64
Year        230 non-null int64
Month       230 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 7.3 KB

In [22]:
df['Month'] = df['Month'].apply(str)

In [23]:
df['Month'] = df['Month'].map({'1':'January', 
                                '2':'February',
                                '3':'March',
                                '4':'April',
                                '5':'May',
                                '6':'June',
                                '7':'July',
                                '8':'August',
                                '9':'September',
                                '10':'October',
                                '11':'November',
                                '12':'December',
                                })

In [24]:
final_df = df[['Year','Month','CS_Index']]

In [25]:
final_df.head()

   Year     Month    CS_Index
0  2000   January  100.589697
1  2000  February  101.692479
2  2000     March  102.783829
3  2000     April  103.996444
4  2000       May  105.252818