In [1]:
import pandas as pd

In [2]:
url = "https://storage.api.eriscape.com/v1/AUTH_andrew/laughing-umbrella/Data/Affordability_Index/Housing_Affordability_Index_1981_2019.csv"
df = pd.read_csv(url)

In [3]:
df = df.sort_index(ascending=False)
df.head()

        Month  Year  Housing_Affordability_Index
458   January  1981                         73.6
457  February  1981                         72.1
456     March  1981                         71.1
455     April  1981                         70.1
454       May  1981                         68.5

In [4]:
df = df.reset_index(drop=True)

In [5]:
df.head()

      Month  Year  Housing_Affordability_Index
0   January  1981                         73.6
1  February  1981                         72.1
2     March  1981                         71.1
3     April  1981                         70.1
4       May  1981                         68.5

In [7]:
df.to_csv("Clean Data/Housing_Affordability_Index_1981_2019.csv", index=False, header=True)