# Unemployment Rate

In [1]:
import pandas as pd
import json
import requests

The URL below was obtained from [catalog.data.gov](https://catalog.data.gov/dataset/unemployment-rate/resource/bba405ab-be94-48ff-ada1-333b855732f4).

In [2]:
#xmltree = ET.parse('../Data/Dept_Labor/unemployment_rate_xml')
url = "http://api.dol.gov/V1/statistics/BLS_Numbers/unemploymentRate?KEY=352e8ef9-7b38-4428-875b-eefd39df6289"

In [3]:
headers = {'Accept':'application/json'}
r = requests.get(url, headers=headers)

In [4]:
data = r.json()

In [5]:
year = []
period = []
value = []
entries = data['d']['results']

In [6]:
for entry in entries:
    #print(entry['year'])
    year.append(entry['year'])
    period.append(entry['period'])
    value.append(entry['value'])
    #print(entry['period'])
    #print(entry['value'])

In [7]:
list_of_values = zip(year, period, value)

In [8]:
df_input = list(list_of_values)
df = pd.DataFrame(df_input, columns=("Year","Period","Employment Rate"))

In [14]:
sorted_df = df.sort_values(by=['Year'])
final_df = sorted_df.reset_index(drop=True)

In [16]:
final_df.head(25)

    Year  Period Employment Rate
0   1948       1            3.40
1   1948       2            3.80
2   1949       1            4.30
3   1949       2            4.70
4   1950       1            6.50
5   1950       2            6.40
6   1951       1            3.70
7   1951       2            3.40
8   1952       1            3.20
9   1952       2            3.10
10  1953       2            2.60
11  1953       1            2.90
12  1954       1            4.90
13  1954       2            5.20
14  1955       2            4.70
15  1955       1            4.90
16  1956       2            3.90
17  1956       1               4
18  1957       1            4.20
19  1957       2            3.90
20  1958       1            5.80
21  1958       2            6.40
22  1959       1               6
23  1959       2            5.90
24  1960       1            5.20